<div class="ui middle aligned center aligned auth grid">
    <div class="column">
        <h2 class="ui orange header">
            <i class="slack icon"></i> Log-in to your account
        </h2>
        <form class="ui large form error">
            <div class="ui stacked segment">
                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input type="text" placeholder="E-mail address" ng-model="member.email">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input type="password" placeholder="Password" ng-model="member.password">
                    </div>
                </div>
                <input type="submit" class="ui fluid large orange button" value="Login" ng-click="login()">
            </div>
            <div class="ui error message" ng-if="error">
                {{ error }}
            </div>
        </form>
        <div class="ui message">
            New to us? <a href="#!/register">Sign up</a>
        </div>
    </div>
</div>
