<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#00B5AD">

    <title>TeamMessenger</title>

    <link rel="stylesheet" href="bower_components/semantic/dist/semantic.min.css">
  </head>
  <body ng-app="coop">

    <nav class="ui orange inverted top fixed borderless menu" ng-controller="NavbarCtrl">
      <a href="#!/" class="header item"><i class="inverted orange circular talk icon"></i>TeamMessenger</a>
      <div class="right menu" ng-if="!loggedIn">
        <div class="item">
          <a href="#!/login" class="ui orange circular button">Sign in</a>
        </div>
        <div class="item">
          <a href="#!/register" class="ui inverted circular button "><i class="sign in icon"></i>Sign up</a>
        </div>
      </div>
      <div class="right menu" ng-if="loggedIn">
        <div class="header item" ng-bind="member.fullname"></div>
        <div class="item">
          <div class="ui inverted circular button" ng-click="logout()">Logout</div>
        </div>
      </div>
    </nav>
    <div id="app" ng-view></div>

    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/semantic/dist/semantic.min.js"></script>
  </body>
</html>
