<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Co'OP</title>
    <link rel="stylesheet" href="assets/bower/semantic/dist/semantic.min.css">
    <link rel="stylesheet" href="assets/css/app.css">

    <script src="assets/bower/angular/angular.min.js"></script>
    <script src="assets/bower/angular-resource/angular-resource.min.js"></script>
    <script src="assets/bower/angular-route/angular-route.min.js"></script>
    <script src="assets/bower/jquery/dist/jquery.min.js"></script>
    <script src="assets/bower/semantic/dist/semantic.min.js"></script>
    <script src="assets/js/app.js"></script>
  </head>
  <body ng-app="coop">
    <nav class="ui top fixed borderless menu" ng-controller="NavbarCtrl">
      <a href="#!/" class="header item"><i class="inverted circular slack icon"></i>Co'OP</a>
      <div class="right menu" ng-if="!loggedIn">
        <div class="item">
          <a href="#!/login" class="ui circular button">Sign in</a>
        </div>
        <div class="item">
          <a href="#!/register" class="ui teal circular button">Sign up</a>
        </div>
      </div>
      <div class="right menu" ng-if="loggedIn">
        <div class="header item">{{ member.fullname }}</div>
        <div class="item">
          <div class="ui teal circular button" ng-click="logout()">Logout</div>
        </div>
      </div>
    </nav>
    <div id="app" ng-view></div>
  </body>
</html>
