<div class="ui comments">
  <div class="ui active inverted dimmer" ng-show="loading">
    <div class="ui large text loader">Loading</div>
  </div>
  <div class="comment" ng-hide="loading" ng-repeat="post in posts" ng-init="randomName = getRandomName()">
    <a class="avatar">
      <img ng-src="http://semantic-ui.com/images/avatar/small/{{ randomName }}.jpg">
    </a>
    <div class="content">
      <a href="#" class="author">{{ getPostMember(post).fullname }}</a>
      <div class="mini ui right floated transparent icon button" ng-click="delete(post)">
        <i class="delete icon"></i>
      </div>
      <div class="mini ui right floated transparent icon button" ng-click="edit(post)">
        <i class="edit icon"></i>
      </div>
      <div class="metadata">
        <span class="date">{{ post.created_at | date }}</span>
      </div>
      <div class="text">{{ post.message }}</div>
      <div class="actions">
        <a class="reply">Reply</a>
      </div>
      <div id="last-comment" ng-if="$last" ng-init="scrollToLast()"></div>
    </div>
  </div>
</div>
