<div class="comment">
  <a class="avatar">
    <img src="http://semantic-ui.com/images/avatar/small/{{name}}.jpg">
  </a>
  <div class="content">
    <a href="#" class="author">{{ member.fullname }}</a>
    <div class="mini ui right floated white icon button" ng-click="delete()">
      <i class="delete icon"></i>
    </div>
    <div class="mini ui right floated white icon button" ng-click="edit()">
      <i class="edit icon"></i>
    </div>
    <div class="metadata">
      <span class="date">{{ post.created_at | date}}</span>
    </div>
    <div class="text">{{ post.message }}</div>
    <div class="actions">
      <a class="reply">Reply</a>
    </div>
  </div>
</div>
